$menu-bg-color: #909DAD;
$menu-text-color: #ffffff;
$menu-hover-bg-color: #6C757D;

.navbar {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: $menu-bg-color;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    color: #ffffff;
    cursor: default;
}

.nav-item{
    color: $menu-text-color;
    cursor: pointer;
}

.nav-item:hover{
    background-color: $menu-hover-bg-color;
}

.menuimg{
    padding: 0.5rem;
}

a{
    text-decoration: none;
}