.dashboardsection{
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        overflow-y: auto; /* Adiciona rolagem vertical em telas médias e maiores */
    }
}

.bg-custom-grey{
    color: #ffffff;
    background-color: #909DAD;

    &:hover{
        color: #ffffff;
        background-color: #909DAD;
    }
}

.bg-custom-white{
    color: #000000;
    background-color: #ffffff;

    &:hover{
        color: #000000;
        background-color: #ffffff;
    }
}